
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.portfolio-ANy {
  position: relative;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(0.5rem);
  background: linear-gradient(-112.87deg, rgba(255, 255, 255, 0) 172.95%, rgba(255, 255, 255, 0.0199999996) -72.95%, rgba(255, 255, 255, 0) -72.95%);
  width: 100%;
  overflow: hidden;
  display: flex;
  background-color: #091929;

  .auto-group-bgh3-7xR {
    height: 375.2rem;
    position: relative;
    flex-shrink: 0;
    width: 100%;

    .auto-group-rzbf-sid {
      width: 183rem;
      height: 120.3rem;
      position: absolute;
      left: 4.6rem;
      top: 0;

      .crystal-one--XHP {
        position: absolute;
        background-size: 100% 100%;
        left: 66.6rem;
        top: 0;
        filter: blur(8.25rem);
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:5607571d8644e278dd4fa47e17192e67c8dd0053');
        width: 116.4rem;
        height: 116.4rem;

        .digiflora-1-c3w {
          vertical-align: top;
          width: 116.4rem;
          height: 116.4rem;
          object-fit: cover;
        }
      }
      .hi-ELD {
        font-weight: 700;
        line-height: 1.3025;
        font-family: DM Sans, 'Source Sans Pro';
        width: 48.5rem;
        left: 0;
        top: 0;
        color: #ffffff;
        white-space: nowrap;
        height: 65.2rem;
        position: absolute;
        font-size: 50rem;
      }
      .my-name-is-muhammet-i-am-a-developer-GXo {
        font-size: 5rem;
        line-height: 1.3025;
        color: #ffffff;
        font-family: DM Sans, 'Source Sans Pro';
        width: 56.4rem;
        height: 13.1rem;
        position: absolute;
        left: 3.4rem;
        top: 55.1rem;
        font-weight: 400;
      }
      .product-design-XCq {
        font-family: DM Sans, 'Source Sans Pro';
        width: 5.9rem;
        left: 3.4rem;
        line-height: 1.3025;
        color: #ffffff;
        font-weight: 400;
        height: 4.2rem;
        position: absolute;
        top: 80.2rem;
        font-size: 1.6rem;
      }
      .motion-graphics-ZvD {
        height: 4.2rem;
        position: absolute;
        top: 80.2rem;
        font-size: 1.6rem;
        width: 6.7rem;
        left: 14.8rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #ffffff;
        font-family: DM Sans, 'Source Sans Pro';
      }
      .video-editing-aaR {
        font-weight: 400;
        line-height: 1.3025;
        color: #ffffff;
        font-family: DM Sans, 'Source Sans Pro';
        height: 4.2rem;
        position: absolute;
        top: 80.2rem;
        font-size: 1.6rem;
        width: 5.1rem;
        left: 26.3rem;
      }
      .illustration-B4R {
        white-space: nowrap;
        width: 7.7rem;
        left: 49.1rem;
        top: 82.3rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3025;
        height: 2.1rem;
        position: absolute;
        color: #ffffff;
        font-family: DM Sans, 'Source Sans Pro';
      }
      .d-modeling-FKB {
        top: 80.2rem;
        font-size: 1.6rem;
        line-height: 1.3025;
        font-family: DM Sans, 'Source Sans Pro';
        height: 4.2rem;
        left: 37.7rem;
        font-weight: 400;
        color: #ffffff;
        width: 6.8rem;
        position: absolute;
      }
      .rectangle-1-Kpq {
        top: 85.4rem;
        background-color: #f6683c;
        width: 9.4rem;
        height: 0.3rem;
        position: absolute;
        left: 3.4rem;
      }
      .rectangle-2-QrH {
        height: 0.3rem;
        position: absolute;
        left: 14.9rem;
        top: 85.4rem;
        background-color: #f6683c;
        width: 9.4rem;
      }
      .rectangle-3-j7s {
        width: 9.4rem;
        height: 0.3rem;
        position: absolute;
        left: 26.3rem;
        top: 85.4rem;
        background-color: #f6683c;
      }
      .rectangle-4-eVj {
        position: absolute;
        left: 49.1rem;
        top: 85.4rem;
        background-color: #f6683c;
        width: 9.4rem;
        height: 0.3rem;
      }
      .rectangle-5-maM {
        position: absolute;
        left: 37.7rem;
        top: 85.4rem;
        background-color: #f6683c;
        width: 9.4rem;
        height: 0.3rem;
      }
      .place-holder-tey {
        vertical-align: top;
        width: 14.4rem;
        height: 14.4rem;
        position: absolute;
        left: 3.5rem;
        top: 37.7rem;
        object-fit: contain;
      }
      .vector-1-aXo {
        top: 68.1rem;
        object-fit: contain;
        vertical-align: top;
        width: 22.7rem;
        height: 2.1121rem;
        position: absolute;
        left: 19.6rem;
      }
      .line-1-HBK {
        width: 135.2rem;
        height: 0.2rem;
        position: absolute;
        left: 3.4rem;
        top: 95.6rem;
        background-color: rgba(24, 58, 88, 0.5);
      }
      .about-me-9zD {
        position: absolute;
        left: 3.4rem;
        top: 98.6rem;
        color: #ffffff;
        white-space: nowrap;
        width: 22.7rem;
        height: 6.6rem;
        font-size: 5rem;
        font-weight: 400;
        line-height: 1.3025;
        font-family: DM Sans, 'Source Sans Pro';
      }
      .about-me-3Ju {
        height: 6.6rem;
        left: 3.8rem;
        top: 98.6rem;
        font-size: 5rem;
        font-weight: 400;
        line-height: 1.3025;
        width: 22.7rem;
        position: absolute;
        color: #ffffff;
        font-family: DM Sans, 'Source Sans Pro';
        white-space: nowrap;
      }
      .frame-7-KnD {
        top: 3.8rem;
        display: flex;
        column-gap: 6.8rem;
        align-items: center;
        width: 45rem;
        height: 2.1rem;
        position: absolute;
        left: 3.4rem;

        .home-1f3 {
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #ffffff;
        }
        .about-me-ipM {
          justify-content: center;
          font-size: 1.6rem;
          font-weight: 400;
          cursor: pointer;
          line-height: 1.3025;
          color: #ffffff;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          width: 7.4rem;
          height: 100%;
          align-items: center;
          flex-shrink: 0;
        }
        .products-c93 {
          color: #ffffff;
          font-family: DM Sans, 'Source Sans Pro';
          justify-content: center;
          width: 6.7rem;
          height: 100%;
          line-height: 1.3025;
          white-space: nowrap;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          cursor: pointer;
          font-size: 1.6rem;
          font-weight: 400;
        }
        .contact-sam {
          width: 6.1rem;
          font-weight: 400;
          color: #ffffff;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          height: 100%;
          cursor: pointer;
          font-size: 1.6rem;
          line-height: 1.3025;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          justify-content: center;
        }
      }
    }
    .line-2-keZ {
      top: 172.1rem;
      background-color: rgba(24, 58, 88, 0.5);
      width: 135.2rem;
      height: 0.2rem;
      position: absolute;
      left: 8rem;
    }
    .line-3-ezq {
      background-color: rgba(24, 58, 88, 0.5);
      width: 135.2rem;
      height: 0.2rem;
      position: absolute;
      left: 8rem;
      top: 216.2rem;
    }
    .auto-group-81q7-AyB {
      width: 29.8rem;
      height: 6.6rem;
      position: absolute;
      left: 8rem;
      top: 176rem;

      .design-stack-Uiy {
        font-size: 5rem;
        font-weight: 400;
        font-family: DM Sans, 'Source Sans Pro';
        top: 0;
        line-height: 1.3025;
        color: #ffffff;
        white-space: nowrap;
        width: 29.4rem;
        height: 6.6rem;
        position: absolute;
        left: 0;
      }
      .design-stack-mxy {
        height: 6.6rem;
        position: absolute;
        top: 0;
        font-weight: 400;
        color: #ffffff;
        white-space: nowrap;
        width: 29.4rem;
        left: 0.4rem;
        font-size: 5rem;
        line-height: 1.3025;
        font-family: DM Sans, 'Source Sans Pro';
      }
    }
    .auto-group-ynjh-4hB {
      width: 19.3rem;
      height: 6.6rem;
      position: absolute;
      left: 8rem;
      top: 222.4rem;

      .projects-n7P {
        position: absolute;
        top: 0;
        font-size: 5rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #ffffff;
        white-space: nowrap;
        height: 6.6rem;
        left: 0;
        font-family: DM Sans, 'Source Sans Pro';
        width: 18.9rem;
      }
      .projects-TjK {
        font-weight: 400;
        width: 18.9rem;
        height: 6.6rem;
        top: 0;
        line-height: 1.3025;
        color: #ffffff;
        font-family: DM Sans, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        left: 0.4rem;
        font-size: 5rem;
      }
    }
    .auto-group-jwoo-w8h {
      left: 3.4rem;
      box-sizing: border-box;
      padding: 2.9rem 4.3rem 2rem 4.5rem;
      width: 144.1rem;
      background-color: rgba(24, 58, 88, 0.5);
      border-radius: 5.3rem;
      height: 61.4rem;
      position: absolute;
      top: 231.1rem;

      .product-design-BHw {
        font-family: DM Sans, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.3rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #f6683c;
      }
      .auto-group-he7x-sRf {
        margin: 0rem 0rem 2.2rem 0.1rem;
        height: 47.5rem;
        display: flex;
        column-gap: 1.9rem;
        align-items: center;

        .group-10-MLq {
          width: 43.8rem;
          height: 100%;
          flex-shrink: 0;

          .mask-group-spy {
            object-fit: contain;
            vertical-align: top;
            margin-bottom: 1.9rem;
            width: 43.8rem;
            height: 24.67rem;
            position: relative;
          }
          .auto-group-jh17-yd7 {
            margin-right: 0.1rem;
            width: calc(100% - 0.1rem);
            display: flex;
            align-items: center;

            .mask-group-Bsb {
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.03rem 1.9rem 0rem 0rem;
              width: 20.9rem;
              height: 20.9rem;
            }
            .mask-group-riq {
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 0.03rem;
              width: 20.9rem;
              height: 20.9rem;
              position: relative;
              object-fit: contain;
            }
          }
        }
        .group-17-M9o {
          width: 43.8rem;
          height: 100%;
          flex-shrink: 0;

          .mask-group-gSy {
            vertical-align: top;
            margin-bottom: 1.93rem;
            width: 43.8rem;
            height: 24.67rem;
            position: relative;
            object-fit: contain;
          }
          .auto-group-w8s7-aYM {
            display: flex;
            align-items: center;
            margin-right: 0.1rem;
            width: calc(100% - 0.1rem);

            .mask-group-hcy {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.9rem;
              width: 20.9rem;
              height: 20.9rem;
              position: relative;
            }
            .mask-group-R3B {
              width: 20.9rem;
              height: 20.9rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
        .group-18-wGR {
          flex-shrink: 0;
          width: 43.8rem;
          height: 100%;
          align-items: flex-end;
          display: flex;
          flex-direction: column;

          .mask-group-U1T {
            margin-bottom: 1.93rem;
            width: 43.8rem;
            height: 24.67rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .auto-group-gqpd-n29 {
            flex-shrink: 0;
            margin-left: 0.1rem;
            width: calc(100% - 0.1rem);
            display: flex;
            align-items: center;

            .mask-group-VBT {
              margin-right: 1.9rem;
              width: 20.9rem;
              height: 20.9rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .mask-group-nAZ {
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 20.9rem;
              height: 20.9rem;
            }
          }
        }
      }
      .auto-group-ox8z-V4y {
        margin: 0rem 67.5rem 0rem 0.1rem;
        width: calc(100% - 67.6rem);
        display: flex;
        align-items: center;

        .see-mobile-prototype-ZqX {
          margin: 0rem 25.8rem 0.1rem 0rem;
          font-size: 2rem;
          line-height: 1.3025;
          text-decoration-line: underline;
          font-weight: 400;
          color: #ffffff;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .see-desktop-prototype-ojs {
          font-size: 2rem;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          color: #ffffff;
          margin-top: 0.1rem;
          font-weight: 400;
          line-height: 1.3025;
          text-decoration-line: underline;
        }
      }
    }
    .auto-group-ek9j-3PK {
      width: 144.1rem;
      height: 33.9rem;
      left: 3.4rem;
      top: 296.1rem;
      display: flex;
      border-radius: 5.3rem;
      box-sizing: border-box;
      padding: 4rem 4.3rem 4.2rem 4.5rem;
      position: absolute;
      align-items: center;
      background-color: rgba(24, 58, 88, 0.5);

      .auto-group-enkd-UUd {
        width: 20.9rem;
        height: 100%;
        flex-shrink: 0;
        margin-right: 1.9rem;

        .illustration-oG1 {
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 2.1rem 0.1rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #f6683c;
        }
        .mask-group-V8q {
          width: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:0:188');

          .auto-group-xney-dVw {
            height: 20.9rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            width: 20.9rem;
          }
        }
      }
      .mask-group-KNm {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:0:668');
        flex-shrink: 0;
        margin: 4.8rem 1.9rem 0rem 0rem;

        .auto-group-vuqv-33s {
          width: 20.9rem;
          height: 20.9rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .mask-group-9Mo {
        margin: 4.8rem 2.2rem 0rem 0rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:0:1014');
        flex-shrink: 0;

        .auto-group-lngm-rn1 {
          width: 20.9rem;
          height: 20.9rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .mask-group-xKF {
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 4.8rem 2rem 0rem 0rem;
        width: 20.9rem;
        height: 20.9rem;
      }
      .mask-group-r9j {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:0:1332');
        flex-shrink: 0;
        margin: 4.8rem 1.9rem 0rem 0rem;

        .auto-group-dued-NNy {
          position: relative;
          object-fit: contain;
          vertical-align: top;
          width: 20.9rem;
          height: 20.9rem;
        }
      }
      .mask-group-GjF {
        background-image: url('REPLACE_IMAGE:0:1342');
        flex-shrink: 0;
        margin-top: 4.8rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        .auto-group-jkty-ojB {
          width: 20.9rem;
          height: 20.9rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .auto-group-a3py-HuF {
      padding: 4rem 4.3rem 1.4rem 4.5rem;
      height: 33.9rem;
      position: absolute;
      align-items: center;
      box-sizing: border-box;
      left: 3.4rem;
      top: 333.6rem;
      display: flex;
      background-color: rgba(24, 58, 88, 0.5);
      border-radius: 5.3rem;
      width: 144.1rem;

      .auto-group-ezwj-8ey {
        margin: 0rem 1.9rem 0.1rem 0rem;
        width: 20.9rem;
        flex-shrink: 0;

        .d-dLq {
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 2.1rem 0.1rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #f6683c;
        }
        .mask-group-KDf {
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:0:664');
          margin-bottom: 1.2rem;
          width: 100%;
          background-size: cover;

          .auto-group-i34h-eFw {
            vertical-align: top;
            width: 20.9rem;
            height: 20.9rem;
            position: relative;
            object-fit: contain;
          }
        }
        .watch-video-jYH {
          margin-left: 6.9rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
          text-decoration-line: underline;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .mask-group-2nH {
        flex-shrink: 0;
        margin: 4.8rem 1.9rem 2.8rem 0rem;
        height: calc(100% - 7.6rem);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:0:1009');

        .auto-group-ckfx-Lny {
          vertical-align: top;
          width: 20.9rem;
          height: 20.9rem;
          position: relative;
          object-fit: contain;
        }
      }
      .mask-group-eHs {
        background-position: center;
        background-image: url('REPLACE_IMAGE:0:1327');
        flex-shrink: 0;
        margin: 4.8rem 2.2rem 2.8rem 0rem;
        height: calc(100% - 7.6rem);
        background-size: cover;
        background-repeat: no-repeat;

        .auto-group-msl9-Z9w {
          width: 20.9rem;
          height: 20.9rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .mask-group-ruj {
        width: 20.9rem;
        height: 20.9rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 2rem 2rem 0rem 0rem;
      }
      .auto-group-meny-kkD {
        margin: 4.8rem 1.9rem 0rem 0rem;
        width: 20.9rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .mask-group-Ssw {
          width: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:0:1337');
          flex-shrink: 0;
          margin-bottom: 1.3rem;

          .auto-group-fcuu-PHP {
            height: 20.9rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            width: 20.9rem;
          }
        }
        .play-interaction-h3B {
          margin-left: 0.1rem;
          font-size: 1.2rem;
          text-decoration-line: underline;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          font-weight: 400;
          line-height: 1.2125;
          color: #ffffff;
          flex-shrink: 0;
        }
      }
      .mask-group-BU9 {
        height: calc(100% - 7.6rem);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:0:1347');
        flex-shrink: 0;
        margin: 4.8rem 0rem 2.8rem 0rem;

        .auto-group-xqem-6r1 {
          width: 20.9rem;
          height: 20.9rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .auto-group-8hg1-BcZ {
      left: 8rem;
      top: 108.1rem;
      display: flex;
      align-items: center;
      width: 154.8rem;
      height: 59.5rem;
      position: absolute;

      .hi-there-my-name-is-shallom-and-i-am-a-highly-creative-and-driven-product-designer-with-a-passion-for-designing-innovative-and-user-friendly-products-with-over-5-years-of-experience-in-the-industry-i-have-developed-a-unique-skill-set-that-allows-me-to-turn-complex-concepts-into-intuitive-and-beautiful-designs-that-people-love-to-use-i-have-a-strong-background-in-graphics-design-and-i-always-stay-up-to-date-with-the-latest-design-trends-and-technology-my-design-philosophy-is-centered-around-empathy-and-understanding-the-needs-of-the-end-user-and-i-take-a-user-centered-approach-to-all-my-projects-to-ensure-that-every-design-solves-real-world-problems-and-meets-the-needs-of-the-target-audience-throughout-my-career-i-have-worked-with-a-diverse-range-of-clients-from-startups-to-tech-companies-and-i-have-consistently-delivered-high-quality-designs-that-have-exceeded-their-expectations-i-have-a-knack-for-communicating-complex-ideas-to-stakeholders-and-i-am-skilled-at-managing-the-design-process-from-start-to-finish-including-conducting-user-research-prototyping-and-testing-when-im-not-designing-you-can-find-me-exploring-the-latest-design-tools-and-techniques-or-volunteering-at-local-design-events-i-am-always-eager-to-learn-and-grow-as-a-designer-and-i-am-committed-to-staying-at-the-forefront-of-the-industry-if-youre-looking-for-a-talented-and-driven-product-designer-to-bring-your-ideas-to-life-i-would-love-the-opportunity-to-work-with-you-lets-create-something-great-together-Gtu {
        line-height: 1.6520000458;
        color: #ffffff;
        font-family: DM Sans, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 3.5rem;
        max-width: 112.1rem;
        font-size: 2rem;
        font-weight: 400;
      }
      .crystal-two-1vM {
        background-position: center;
        background-image: url('REPLACE_IMAGE:876451eb884ec912eedfb8bdc13ea92d6de9281d');
        flex-shrink: 0;
        margin: 8.9rem 0rem 11.4rem 0rem;
        height: calc(100% - 20.3rem);
        filter: blur(1.8rem);
        background-size: 100% 100%;
        background-repeat: no-repeat;

        .solarmaze-1-KRF {
          width: 39.2rem;
          height: 39.2rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
    }
    .group-8-npd {
      left: 7.9rem;
      top: 186.4rem;
      display: flex;
      align-items: center;
      width: 121.9rem;
      height: 24rem;
      position: absolute;

      .group-6-VU9 {
        height: 100%;
        flex-shrink: 0;
        margin-right: 10.9rem;
        width: 34.9rem;

        .auto-group-ntsq-bn5 {
          align-items: center;
          margin-bottom: 0.9rem;
          width: 100%;
          height: 21rem;
          display: flex;

          .group-2-vJZ {
            box-sizing: border-box;
            padding: 3.1rem 2.9rem 3.07rem 2.9rem;
            background-position: center;
            background-image: url('REPLACE_IMAGE:0:71');
            flex-shrink: 0;
            margin-right: 2rem;
            width: 21rem;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;

            .group-1-DYZ {
              width: 100%;
              height: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;

              .auto-group-wtbf-k2h {
                flex-shrink: 0;
                margin-bottom: 2.013rem;
                width: 100%;
                display: flex;
                align-items: center;

                .photoshop-UDb {
                  margin-right: 2.0541rem;
                  width: 6.573rem;
                  height: 6.4086rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .premiere-Bdo {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 6.573rem;
                  height: 6.4086rem;
                }
              }
              .auto-group-ycxf-hMF {
                width: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .illustrator-S3w {
                  height: 6.4086rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 2.0541rem;
                  width: 6.573rem;
                }
                .after-effects-MAu {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 6.573rem;
                  height: 6.4086rem;
                }
              }
            }
          }
          .frame-2-EkV {
            height: calc(100% - 5.7rem);
            row-gap: 1.5rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin: 3.1rem 0rem 2.6rem 0rem;

            .photoshop-vtD {
              font-weight: 500;
              line-height: 1.3025;
              color: #ffffff;
              font-family: DM Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
            }
            .premier-pro-RKB {
              line-height: 1.3025;
              color: #ffffff;
              font-family: DM Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 500;
            }
            .illustrator-wHX {
              line-height: 1.3025;
              color: #ffffff;
              font-family: DM Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 500;
            }
            .after-effects-fDX {
              line-height: 1.3025;
              color: #ffffff;
              font-family: DM Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 500;
            }
          }
        }
        .images-and-video-n3F {
          margin-left: 4rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #f6683c;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .group-7-5Y9 {
        flex-shrink: 0;
        margin-right: 13.4rem;
        width: 32.4rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-yf89-zf7 {
          flex-shrink: 0;
          margin-bottom: 0.9rem;
          width: 100%;
          height: 21rem;
          display: flex;
          align-items: flex-start;

          .group-3-7Dw {
            align-items: center;
            display: flex;
            border-radius: 4.5rem;
            width: 21rem;
            height: 100%;
            flex-direction: column;
            background-color: #183a58;
            flex-shrink: 0;
            margin-right: 1.9rem;
            box-sizing: border-box;
            padding: 3.813rem 3.569rem 3.62rem 3.308rem;

            .frame-1-nqs {
              object-fit: contain;
              vertical-align: top;
              border-radius: 1.0117rem;
              flex-shrink: 0;
              margin: 0rem 8.031rem 1.752rem 0rem;
              width: 6.0924rem;
              height: 5.935rem;
            }
            .xd-Gm3 {
              height: 5.88rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-left: 8.0924rem;
              width: 6.0308rem;
            }
          }
          .frame-3-A5j {
            margin-top: 3.1rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .figma-5Tb {
              font-weight: 500;
              line-height: 1.3025;
              color: #ffffff;
              font-family: DM Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1.5rem;
              font-size: 2rem;
            }
            .adobe-xd-bB3 {
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.3025;
              color: #ffffff;
              font-family: DM Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .ui-ux-design-W37 {
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 11.4rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #f6683c;
        }
      }
      .group-5-zys {
        width: 30.3rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-yqe9-XU1 {
          margin-bottom: 0.9rem;
          width: 100%;
          height: 21rem;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .group-4-dG9 {
            display: flex;
            flex-direction: column;
            border-radius: 4.5rem;
            margin-right: 2rem;
            padding: 3.813rem 3.485rem 4.114rem 3.308rem;
            width: 21rem;
            height: 100%;
            align-items: center;
            box-sizing: border-box;
            background-color: #183a58;
            flex-shrink: 0;

            .frame-1-JdB {
              margin: 0rem 8.033rem 1.365rem 0rem;
              box-sizing: border-box;
              padding: 0.674rem 0.8rem 0.674rem 0.8rem;
              background-color: #ffffff;
              border-radius: 1.0117rem;
              flex-shrink: 0;

              .splinelogo-c068feca0f6ae756affe68498147df78-1-yMw {
                vertical-align: top;
                width: 4.574rem;
                height: 4.574rem;
                object-fit: cover;
              }
            }
            .frame-2-qQ9 {
              object-fit: contain;
              vertical-align: top;
              border-radius: 1.0117rem;
              flex-shrink: 0;
              margin-left: 8.1924rem;
              width: 6.0148rem;
              height: 5.7863rem;
            }
          }
          .frame-4-VzV {
            margin-top: 2.9rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .spline-Rt9 {
              color: #ffffff;
              font-family: DM Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1.5rem;
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.3025;
            }
            .blender-wLh {
              font-weight: 500;
              line-height: 1.3025;
              color: #ffffff;
              font-family: DM Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
            }
          }
        }
        .d-FcH {
          line-height: 1.3025;
          color: #f6683c;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 9.2rem;
          font-size: 1.6rem;
          font-weight: 400;
        }
      }
    }
  }
  .auto-group-caq3-Ldj {
    width: 100%;
    height: 35rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-1059-FVo {
      height: 34.8rem;
      position: absolute;
      left: 0;
      top: 0.1rem;
      background-color: #122b41;
      width: 151.2rem;
    }
    .contact-me-jvm {
      width: 18.8rem;
      left: 7.9rem;
      font-weight: 400;
      line-height: 1.3025;
      color: #ffffff;
      height: 13.1rem;
      position: absolute;
      top: 0.8rem;
      font-size: 5rem;
      font-family: DM Sans, 'Source Sans Pro';
    }
    .mask-group-R2u {
      width: 37.6rem;
      height: 35rem;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: contain;
      vertical-align: top;
    }
    .lets-connect-and-talk-about-building-your-project-together-L9s {
      height: 4.2rem;
      left: 30.9rem;
      top: 14.6rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.3025;
      width: 27rem;
      position: absolute;
      color: #ffffff;
      font-family: DM Sans, 'Source Sans Pro';
    }
    .frame-8-nnZ {
      width: 39.8rem;
      height: 15.9rem;
      position: absolute;
      left: 92rem;
      top: 10.8rem;
      display: flex;
      align-items: center;

      .group-15-HzD {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 5.6rem;
        width: 17.1rem;
        height: 100%;

        .auto-group-w9av-pDT {
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0rem 3.5rem 1.1rem 3.5rem;
          width: 100%;
          align-items: center;
          display: flex;

          .whatsapp-7iM {
            margin-bottom: 0.6rem;
            width: 2.1rem;
            height: 2rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .mask-group-EHB {
            width: 10.1rem;
            height: 10.1rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .auto-group-b43f-MMo {
          width: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .scan-code-or-t6q {
            flex-shrink: 0;
            margin-right: 0.8rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3025;
            color: #ffffff;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
          .click-link-zQm {
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3025;
            text-decoration-line: underline;
            color: #ffffff;
          }
        }
      }
      .group-16-W8D {
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 17.1rem;

        .auto-group-vtgv-EK7 {
          box-sizing: border-box;
          padding: 0rem 3.5rem 1.1rem 3.5rem;
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .instagram-Xp1 {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0rem 0.6rem 0.1rem;
            width: 2rem;
            height: 2rem;
            object-fit: cover;
          }
          .mask-group-qJu {
            width: 10.1rem;
            height: 10.1rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .auto-group-nntf-xPX {
          width: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .scan-code-or-VeM {
            color: #ffffff;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 0.8rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3025;
          }
          .click-link-o9F {
            color: #ffffff;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3025;
            text-decoration-line: underline;
          }
        }
      }
    }
  }
}
